.main-page {
  //align-items: flex-start;

  //min-height: 75vh; //calc(100vh - 6rem);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/car-repair-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
  }
  .title {
    margin-bottom: 60px;
  }
  .i-button {
    //margin-top: 40px;
    //text-align: center;
    height: 35px;
    width: 150px;
    background-color: rgb(150, 0, 0);
    color: rgb(184, 184, 184);
    border: none;
    &:hover {
      background-color: rgb(199, 44, 23);
      color: #fff;
    }
  }
}
.section-next {
  height: 100vh;
}
