header {
  height: 70px;
  display: flex;
  position: fixed;
  //align-items: center;
  nav {
    display: flex;
    justify-content: space-around;
    height: 100%;

    .logo {
      padding: 10px;
      img {
        height: 40px;
        margin: 0;
      }
    }
    .menu {
      display: grid;
      grid-template-columns: (repeat(4, 1fr));
      width: 50%;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        .link-menu {
          padding-bottom: 5px;
          &:hover {
            border-bottom: 3px solid #000;
          }
        }
      }
    }
  }
}
