header {
  height: 60px;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(
    to bottom,
    #1a1919f1 60%,
    rgba(8, 8, 8, 0.096)
  ); // rgba(0, 0, 0, 0.651);
  //align-items: center;
  nav {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    .logo {
      padding: 10px;
      img {
        height: 40px;
        margin: 0;
      }
    }
    .menu {
      // display: grid;
      // grid-template-columns: (repeat(4, 1fr));
      display: flex;
      justify-content: space-around;
      width: 50%;
      li {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          font-size: 0.9rem;
          color: rgb(153, 153, 153);
          text-decoration: none;
          padding: 6px 5px;
          letter-spacing: 0.1rem;
          text-transform: uppercase;
          border-bottom: 2px solid transparent;
          transition: all 0.5s ease;

          &:hover {
            border-bottom: 2px solid rgb(231, 225, 139);
            color: rgb(231, 225, 139);
          }
        }
      }
    }
    .burger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //display: none;
      //align-items: center;
      div {
        //padding: auto;
        width: 25px;
        height: 3px;
        margin: 4px;
        background-color: rgb(190, 189, 189);
        &:hover {
          background-color: #fff;
        }
      }
    }
    .burger {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  // body {
  //   overflow-x: hidden;
  // }
  header {
    nav {
      display: flex;
      align-items: center;
      .burger {
        display: block;
      }
      .menu {
        position: absolute;
        right: 0;
        height: 90vh;
        top: 60px;
        background-color: #1a1919f1;
        display: flex;
        flex-direction: column;

        //transform: translateX(100%);
        //justify-content: space-around;
      }
    }
  }
}
